@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(30deg, white, lightblue);
}
a {
  text-decoration: none;
  color: #333;
  font-size: 13px;
}
label {
  font-size: 13px;
}
form {
  width: 100%;
}
form p {
  font-size: 13px;
  color: #777;
}
.container {
  position: relative;
  width: 850px;
  height: 550px;
  background-color: #ffffff;
  border-radius: 30px;
  margin: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.form-box {
  position: absolute;
  padding: 30px;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #333;
  text-align: center;
  z-index: 3;
}
.btn {
  margin: 1em 0;
  border: none;
  width: 100%;
  border-radius: 6px;
  background-color: #797ef6;
  padding: 13px;
  font-family: 16px;
  font-weight: bold;
  color: white;
}

.container h1 {
  font-size: 36px;
  margin: -10px 0;
}
.input-box {
  position: relative;
  margin: 30px 0;
  margin-bottom: 20px;
}
.input-box input {
  width: 100%;
  padding: 13px;
  padding-right: 50px;
  background: #eee;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 16px;
  color: #333;
}
.input-box input::placeholder {
  color: #999;
  font-weight: 400;
}
.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.check {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.check div {
  width: auto;
  display: flex;
  align-items: center;
}
.check div label {
  margin-left: 6px;
  color: #777;
}
.check a {
  color: #777;
}
.regi-check a {
  text-decoration: underline;
  color: #797ef6;
  cursor: pointer;
}
#showPassword,
#regi-showPassword {
  display: none;
}
#hidePassword,
#regi-hidePassword {
  display: inline;
}
.social-icons {
  margin-top: 1em;
  display: flex;
  gap: 10%;
  justify-content: center;
  align-items: center;
}
.social-icons a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #777;
  border-radius: 8px;
}

.social-icons i {
  font-size: 30px;
}
.social-icons a:last-child i {
  font-size: 40px;
}
.register {
  display: none;
}

/* Toggle */
.toggle-box {
  position: absolute;
  width: 100%;
  height: 100%;
}
.toggle-box::before {
  border-radius: 150px;
  content: "";
  position: absolute;
  left: -50%;
  width: 100%;
  height: 100%;
  background-color: #797ef6;
  z-index: 2;
}
.toggle-panel {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.toggle-panel p {
  margin: 20px;
}
.toggle-panel .btn {
  margin: 0;
  width: 40%;
  background: transparent;
  border: 2px solid white;
}

/* hover func */
a:hover {
  color: #797ef6;
  text-decoration: underline;
  font-size: 13px;
}
.social-icons a:hover {
  cursor: pointer;
  color: #777;
  text-decoration: none;
}
.input-box i.fa-lock,
i.fa-lock-open {
  cursor: pointer;
}
.btn:hover {
  cursor: pointer;
}
button[type="submit"]:hover {
  opacity: 0.7;
}
button:active {
  opacity: 0.5; /* Reduces opacity when clicked */
}
/* user-select: none; */
p,
label[for="checkBox"] {
  user-select: none;
}
@media (max-width: 650px) {
  .container {
    height: calc(100vh - 40px);
  }
  /* .container h1 {
    font-size: 30px;
  } */
  .form-box {
    width: 100%;
    height: 70%;
    bottom: 0;
  }
  .register {
    height: 70%;
  }
  .toggle-box::before {
    left: 0;
    top: -70%;
    width: 100%;
    height: 100%;
    border-radius: 20vw;
  }
  .toggle-panel {
    width: 100%;
    height: 30%;
  }
}
